body{

margin:0;
padding:0;

background:linear-gradient(135deg,#ff4f81,#ff9ac1);

font-family:Arial;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

overflow:hidden;

}

.container{

background:white;

padding:30px;

border-radius:20px;

text-align:center;

width:90%;

max-width:500px;

box-shadow:0 0 30px rgba(0,0,0,.2);

}

h1{

color:#ff0066;

}

h2{

margin-top:20px;

}

button{

padding:15px 30px;

font-size:22px;

border:none;

border-radius:12px;

cursor:pointer;

margin:15px;

transition:.2s;

}

#sim{

background:#ff0066;

color:white;

}

#nao{

background:#444;

color:white;

position:absolute;

}